<!-- SERVIÇOS PAGE -->

<div id="page-servicos" class="fade-in" >
  <!-- Stats Cards -->
  <div class="stats-grid" style="display:grid;grid-template-columns:repeat(4,1fr);gap:16px;margin-bottom:24px;">
    <div class="stat-card">
      <div style="display:flex;align-items:center;gap:12px;">
        <div style="width:55px;height:55px;background:#dcfce7;border-radius:10px;display:flex;align-items:center;justify-content:center;">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="#16a34a" stroke-width="2"><path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"/></svg>
        </div>
        <div>
          <div style="font-size:22px;font-weight:700;color:#1e293b;">18</div>
          <div style="font-size:12px;color:#64748b; margin-top: 3px">Total de serviços cadastrados</div>
        </div>
      </div>
    </div>
    <div class="stat-card">
      <div style="display:flex;align-items:center;gap:12px;">
        <div>
          <div style="display:flex;align-items:center;gap:5px;">
            <div style="width:6px;height: 6px;background:#16a34a;border-radius:50%;"></div>
            <div style="font-size:12px;color:#64748b;">Ativos</div>
          </div>
          <div style="font-size:22px;font-weight:700;color:#1e293b; margin: 5px 0px">16</div>
          <div style="font-size:11px;color:#6c6e72;">89% do total</div>
        </div>
      </div>
    </div>
    <div class="stat-card">
      <div style="display:flex;align-items:center;gap:12px;">
        <div>
          <div style="display:flex;align-items:center;gap:5px;">
            <div style="width:6px;height: 6px;background:#b9b9b9;border-radius:50%;"></div>
            <div style="font-size:12px;color:#64748b;">Inativos</div>
          </div>
          <div style="font-size:22px;font-weight:700;color:#1e293b; margin: 5px 0px">2</div>
          <div style="font-size:11px;color:#6c6e72;">89% do total</div>
        </div>
      </div>
    </div>
    <div class="stat-card" style="padding:0;border:none;background:none;box-shadow:none;">
      <div class="new-service-card" (click)="openModalRegister = !openModalRegister" style="width:100%;height:100%;">
        <div class="new-service-icon">
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round"><line x1="12" y1="5" x2="12" y2="19"/><line x1="5" y1="12" x2="19" y2="12"/></svg>
        </div>
        <div>
          <div class="new-service-text">Novo Serviço</div>
          <div class="new-service-sub">Cadastrar um novo serviço</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Search Bar -->
  <div class="table-search-container" >
    <div class="search-container">
      <svg class="search-icon" width="20" height="20" fill="none" stroke="#64748b" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 01-14 0 7 7 0 0114 0z"/>
      </svg>
      <input class="search-box" ...
      placeholder="Pesquisar serviços...">
    </div>
  </div>

  <!-- Services Table -->
  <table class="dept-table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Código</th>
        <th>Departamento</th>
        <th>Status</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="services.length === 0; else departmentRows">
        <tr>
          <td colspan="5" style="text-align:center;padding:3rem;color:#9ca3af;">
            <p>Nenhum serviço cadastrado ainda.</p>
          </td>
        </tr>
      </ng-container>

      <ng-template #departmentRows>
        <tr *ngFor="let service of services">
          <td class="td-name">
            <div class="td-name-container">
              <div style="width:45px;height:45px;background:#a1a1a12f;border-radius:10px;display:flex;align-items:center;justify-content:center;">
                <svg xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round">

                <circle cx="12" cy="12" r="3"></circle>

                <path d="M19.4 15
                        a1.65 1.65 0 0 0 .33 1.82
                        l.06.06
                        a2 2 0 1 1-2.83 2.83
                        l-.06-.06
                        a1.65 1.65 0 0 0-1.82-.33
                        1.65 1.65 0 0 0-1 1.51V21
                        a2 2 0 1 1-4 0
                        v-.09
                        a1.65 1.65 0 0 0-1-1.51
                        1.65 1.65 0 0 0-1.82.33
                        l-.06.06
                        a2 2 0 1 1-2.83-2.83
                        l.06-.06
                        a1.65 1.65 0 0 0 .33-1.82
                        1.65 1.65 0 0 0-1.51-1H3
                        a2 2 0 1 1 0-4
                        h.09
                        a1.65 1.65 0 0 0 1.51-1
                        1.65 1.65 0 0 0-.33-1.82
                        l-.06-.06
                        a2 2 0 1 1 2.83-2.83
                        l.06.06
                        a1.65 1.65 0 0 0 1.82.33
                        H9
                        a1.65 1.65 0 0 0 1-1.51V3
                        a2 2 0 1 1 4 0
                        v.09
                        a1.65 1.65 0 0 0 1 1.51
                        1.65 1.65 0 0 0 1.82-.33
                        l.06-.06
                        a2 2 0 1 1 2.83 2.83
                        l-.06.06
                        a1.65 1.65 0 0 0-.33 1.82
                        V9
                        a1.65 1.65 0 0 0 1.51 1H21
                        a2 2 0 1 1 0 4
                        h-.09
                        a1.65 1.65 0 0 0-1.51 1z">
                </path>

              </svg>
              </div>
              <div style="display:flex;flex-direction:column;gap:5px;">
                <strong>{{ service.name }}</strong>
                <strong style="font-size: 12px; color: #7f8a99;">{{ service.department }}</strong>
              </div>
            </div>
          </td>
          <td data-label="Código">
            <strong>{{ service.code }}</strong>
          </td>
          <td data-label="Departamento">
            <strong>{{ service.department }}</strong>
          </td>
          <td data-label="Status">

            <div *ngIf="service.status === 'Ativo'" style="display: flex; align-items: center;">
              <div class="td-status-active">
                <div style="width:6px;height: 6px;background:#16a34a;border-radius:50%;"></div>
                <strong  >{{ service.status }}</strong>
              </div>
            </div>

            <div *ngIf="service.status === 'Inativo'" style="display: flex; align-items: center;">
              <div class="td-status-inactive">
                <div style="width:6px;height: 6px; background:#4d4f52; border-radius:50%;"></div>
                <strong  >{{ service.status }}</strong>
              </div>
            </div>

          </td>
          <td data-label="buttons">

            <div style="display:flex;align-items:center; gap:10px;">
              <button type="button" class="button-department-update" >

                <div style="display:flex;align-items:center;gap:5px;">

                  <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24">
                    <path d="M20,16v4a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V6A2,2,0,0,1,4,4H8" fill="none" stroke="#046af0e7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                    <polygon fill="none" points="12.5 15.8 22 6.2 17.8 2 8.3 11.5 8 16 12.5 15.8" stroke="#046af0e7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                  </svg>

                  <span>Editar</span>
                </div>
              </button>

              <div style="position: relative;">
                <div class="button-menu-table" (click)="toggleDeleteModal(service.code)">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" fill="none">
                    <path d="M7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12Z" fill="#1C274C"/>
                    <path d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z" fill="#1C274C"/>
                    <path d="M21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12Z" fill="#1C274C"/>
                  </svg>
                </div>

                <div class="modal-delete" *ngIf="openModalDelete === service.code ">
                  <div style="display:flex;flex-direction:column;">
                    <button type="button" class="button-department-delete" >
                      <div style="display:flex;align-items:center; justify-content:center; gap:5px; color:#046af0e7;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15px" height="15px" viewBox="0 0 24 24" fill="none">
                          <path d="M20.5001 6H3.5" stroke="#eb3414" stroke-width="1.5" stroke-linecap="round"/>
                          <path d="M6.5 6C6.55588 6 6.58382 6 6.60915 5.99936C7.43259 5.97849 8.15902 5.45491 8.43922 4.68032C8.44784 4.65649 8.45667 4.62999 8.47434 4.57697L8.57143 4.28571C8.65431 4.03708 8.69575 3.91276 8.75071 3.8072C8.97001 3.38607 9.37574 3.09364 9.84461 3.01877C9.96213 3 10.0932 3 10.3553 3H13.6447C13.9068 3 14.0379 3 14.1554 3.01877C14.6243 3.09364 15.03 3.38607 15.2493 3.8072C15.3043 3.91276 15.3457 4.03708 15.4286 4.28571L15.5257 4.57697C15.5433 4.62992 15.5522 4.65651 15.5608 4.68032C15.841 5.45491 16.5674 5.97849 17.3909 5.99936C17.4162 6 17.4441 6 17.5 6" stroke="#eb3414" stroke-width="1.5"/>
                          <path d="M18.3735 15.3991C18.1965 18.054 18.108 19.3815 17.243 20.1907C16.378 21 15.0476 21 12.3868 21H11.6134C8.9526 21 7.6222 21 6.75719 20.1907C5.89218 19.3815 5.80368 18.054 5.62669 15.3991L5.16675 8.5M18.8334 8.5L18.6334 11.5" stroke="#eb3414" stroke-width="1.5" stroke-linecap="round"/>
                        </svg>
                        <span>Excluir</span>
                      </div>
                    </button>
                  </div>
                </div>

              </div>

            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <div class="pagination">
    <span class="pagination-info">
      Mostrando 1 a 5 de 10 serviços
    </span>

    <div class="pagination-buttons">
      <!-- PREV -->
      <button
        class="page-btn">
        <svg viewBox="0 0 24 24">
          <polyline points="15 18 9 12 15 6"></polyline>
        </svg>
      </button>
      <!-- PAGES -->
      <button [class.active]="true">
        1
      </button>
      <!-- NEXT -->
      <button
        class="page-btn">
        <svg viewBox="0 0 24 24">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      </button>
    </div>
  </div>
</div>


<div class="modal-register-container" *ngIf="openModalRegister">
  <div class="modal-register">

    <div style="display: flex; justify-content: space-between;">
      <div class="modal-register-header">
        <div class="modal-register-header-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="40px" height="40px" viewBox="0 0 16 16" fill="none">
            <g fill="#0a9f14">
            <path d="M6.834.33a2.25 2.25 0 012.332 0l5.25 3.182A2.25 2.25 0 0115.5 5.436V6A.75.75 0 0114 6v-.564a.75.75 0 00-.361-.642l-5.25-3.181a.75.75 0 00-.778 0l-5.25 3.181A.75.75 0 002 5.436v5.128a.75.75 0 00.361.642l4.028 2.44a.75.75 0 11-.778 1.283l-4.027-2.44A2.25 2.25 0 01.5 10.563V5.436a2.25 2.25 0 011.084-1.924L6.834.33z"/>
            <path fill-rule="evenodd" d="M11.749 7.325l.001-.042v-.286a.75.75 0 00-1.5 0v.286l.001.042a3.73 3.73 0 00-1.318.546.76.76 0 00-.03-.03l-.201-.203a.75.75 0 00-1.06 1.06l.201.203.03.028c-.26.394-.45.84-.547 1.319a.878.878 0 00-.04-.001H7a.75.75 0 000 1.5h.286l.038-.001c.097.48.286.926.547 1.32a.71.71 0 00-.028.027l-.202.202a.75.75 0 001.06 1.06l.203-.202a.695.695 0 00.025-.026c.395.261.842.45 1.322.548l-.001.036v.286a.75.75 0 001.5 0v-.286-.036c.48-.097.926-.287 1.32-.548l.026.026.202.203a.75.75 0 001.06-1.061l-.201-.202a.667.667 0 00-.028-.026c.261-.395.45-.842.547-1.321H15a.75.75 0 000-1.5h-.286l-.04.002a3.734 3.734 0 00-.547-1.319l.03-.028.202-.202a.75.75 0 00-1.06-1.061l-.203.202-.029.03a3.73 3.73 0 00-1.318-.545zM11 8.75A2.247 2.247 0 008.75 11 2.247 2.247 0 0011 13.25 2.247 2.247 0 0013.25 11 2.247 2.247 0 0011 8.75z" clip-rule="evenodd"/>
            </g>
          </svg>
        </div>
        <div style="display: flex; flex-direction: column; gap: 5px;">
          <h3>Cadastrar serviço</h3>
          <span >Preencha os campos abaixo para cadastrar um novo serviço.</span>
        </div>
      </div>

      <button class="dept-modal-close" aria-label="Fechar" (click)="openModalRegister = false">
        <svg viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"></line>
          <line x1="6" y1="6" x2="18" y2="18"></line>
        </svg>
      </button>
    </div>

    <div>
      <label>Nome do serviço</label>
      <input type="text">
      <label>Código</label>
      <input type="text">
    </div>
  </div>
</div>
